@charset "UTF-8";
/* Colours */
/*
@function clr($color, $shade) {
  @if map.has-key($colors, $color, $shade) {
    @return map.get($colors, $color, $shade);
  } @else {
    @error '$colors does not have that color!';
  }
}
*/
:root {
  --font-size: 1rem;
  --ratio: 1.2;
  --fs-100: var(--font-size);
  --fs-200: calc(var(--fs-100) * var(--ratio));
  --fs-300: calc(var(--fs-200) * var(--ratio));
  --fs-400: calc(var(--fs-300) * var(--ratio));
  --fs-500: calc(var(--fs-400) * var(--ratio));
  --fs-600: calc(var(--fs-500) * var(--ratio));
  --fs-700: calc(var(--fs-600) * var(--ratio));
  --fs-800: calc(var(--fs-700) * var(--ratio));
  --fs-900: calc(var(--fs-800) * var(--ratio));
}

/*
Credit to Andy Bell's Modern CSS Reset
@link https://piccalil.li/blog/a-modern-css-reset/

🟣 = additions by Stephanie Eckles 
Twitter/Github/Codepen: @5t3ph
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, 
which suggests default styling will be removed 

🟣 Selector updated to reduce specificity
*/
ul[role=list],
ol[role=list] {
  margin-inline: 0;
  padding: 0;
  list-style: none;
}

/* Set core root defaults */
html,
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  /* 🟣 Set base font-family */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  /* 🟣 Relatively sized thickness and offset */
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}

/* Make images easier to work with */
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* 🟣 Ensure images with a width attr responsively resize */
img[width] {
  height: auto;
}

/* 🟣 Give SVGs common baseline */
svg {
  /* Inherit from text color */
  fill: currentColor;
  /* Allow click events to "fall through" */
}

/* 🟣 Scroll margin allowance above anchor links */
:target {
  scroll-margin-top: 3rem;
}

/* 🟣 Scroll margin allowance below focused elements 
to ensure they are clearly in view */
:focus {
  scroll-margin-bottom: 8vh;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 100%;
}

@media screen and (min-width: 45em) {
  html {
    font-size: 105%;
  }
}
@media screen and (min-width: 65em) {
  html {
    font-size: 112.5%;
  }
}
html,
html:focus-within {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 2rem;
}

:focus {
  scroll-margin-bottom: 8vh;
}

body {
  border-top: 10px solid #dcdadb;
  overflow-x: hidden;
}

.ccm-page {
  color: #53565a;
  font-family: "Open Sans", "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: var(--fs-100);
  line-height: 1.4;
}
.ccm-page h1, .ccm-page .h1,
.ccm-page h2, .ccm-page .h2,
.ccm-page h3, .ccm-page .h3,
.ccm-page h4, .ccm-page .h4,
.ccm-page h5, .ccm-page .h5 {
  font-family: "Open Sans", "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-wrap: break-word;
  hyphens: auto;
  text-wrap: balance;
  color: inherit;
}
.ccm-page h1, .ccm-page .h1 {
  font-size: var(--fs-500);
}
.ccm-page h2, .ccm-page .h2 {
  font-size: var(--fs-400);
}
.ccm-page h3, .ccm-page .h3 {
  font-size: var(--fs-300);
}
.ccm-page h4, .ccm-page .h4 {
  font-size: var(--fs-200);
}
.ccm-page h5, .ccm-page .h5 {
  font-size: var(--fs-100);
  font-weight: 700;
}
.ccm-page hr {
  margin-block: 2rem;
  border: none;
  border-top: 1px dashed #dcdadb;
  height: 0;
  padding: 0 !important;
}
.ccm-page a {
  color: inherit;
  text-decoration: none;
}
.ccm-page a:not([class]):hover, .ccm-page a:not([class]):focus {
  background-color: #fedd00;
  box-shadow: 0 0 0 2px #fedd00;
}
.ccm-page strong,
.ccm-page b,
.ccm-page .text-strong {
  font-weight: 700;
}
.ccm-page em,
.ccm-page text-italic {
  font-family: "Open Sans", "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ccm-page .text-large,
.ccm-page .text-lead {
  font-size: 1.1em;
  color: #333;
}
.ccm-page small,
.ccm-page .text-small {
  font-size: 0.85em;
}
.ccm-page .text-center {
  text-align: center;
}

/*

KEVIN POWELL EXTRAS?



// This is setting the font-sizes
// based on the ones in the abstract
// folder, go there to make updates
h1, .h1 { font-size: --fs-800; }
h2, .h2 { --flow-spacer: 1.5em; font-size: --fs-700; }
h3, .h3 { --flow-spacer: 1.5em; font-size: --fs-600; }
h4, .h4 { font-size: --fs-500; }

  .title {
    font-size: clamp(var(--fs-600), calc(1rem + 5vw), 5rem);
  }

  .article-snippet-title {
    --font-weight: 600;
  }

  time + p {
    font-size: 1.25em;
    margin: 2em 0 1em !important;
  }

p:not([class]),
ul:not([class]),
li:not([class]) {
  max-width: 60ch;
}

*/
.card {
  --card-background: #fff;
  --card-gutter: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: var(--card-background);
  height: 100%;
  padding-bottom: var(--card-gutter);
  position: relative;
  transition: all 0.5s ease-in-out;
  border-bottom-right-radius: 1rem;
}
.card .card-content {
  padding-top: 0.5rem;
}
.card .card-content > p.h4 {
  transition: all 0.3s;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.08), 0 10px 10px rgba(0, 0, 0, 0.04);
}
.card:hover > .card-content > p.h4 {
  transform: translatey(-5px);
}
.card .card-image {
  position: relative;
  overflow: hidden;
  aspect-ratio: 8/5;
}
.card .card-image img {
  filter: grayscale(0);
  transition: all 0.5s ease-in-out;
}
.card:hover .card-image img {
  transform: scale(1.05);
  filter: grayscale(0);
}
.card .card-content {
  margin-inline: var(--card-gutter);
}
.card .card-content .h3 + .text-small,
.card .card-content .h2 + .text-small {
  margin-top: 0;
}
.card .card-content a.card-link:after {
  position: absolute;
  display: block;
  content: "";
  inset: 0;
  z-index: 1;
  pointer-events: auto;
}
.card.card--centred .card-content {
  text-align: center;
}

.layout-grid:hover > .card:not(:hover) .card-image img {
  filter: grayscale(100%);
  opacity: 0.8;
}

.img-circle {
  border-radius: 50%;
}

.pull-left {
  max-width: 25%;
  height: auto;
  float: left;
  margin: 0 2rem 1rem 0;
}

.pull-right {
  max-width: 25%;
  height: auto;
  float: right;
  margin: 0 0 1rem 2rem;
}

.pull-left::after,
.pull-right::after {
  content: "";
  clear: both;
  display: table;
}

.center-block {
  margin-inline: auto;
}

/* !--ResponsiveSlides Foundation */
.homslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.homslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  /* EI11 */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0;
}

.homslides li:first-child {
  display: block;
}

.homslides img {
  display: block;
  height: auto;
  max-width: 100%;
  border: 0;
  aspect-ratio: 16/6;
  width: 100%;
  object-fit: cover;
}

/* !--Basic Theme (Mobile) */
.homslides {
  background: #53565a;
  color: #FFF;
}

.homslides figure {
  position: relative;
  margin: 0;
}

.homslides figcaption {
  text-align: center;
  padding: 1rem 4rem;
}

.homslides figcaption p.h2 {
  font-weight: 700;
  font-size: 2rem;
}

/* !--Basic Theme (Animation) */
@media screen and (min-width: 30em) {
  /* !--Basic Theme (Desktop) */
  .homslides figure {
    position: relative;
  }
  .homslides figcaption {
    position: absolute;
    /* IE 11 */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    background-color: rgba(51, 51, 51, 0.6);
    isolation: isolate;
  }
  .homslides figcaption p {
    text-shadow: 0px 0px 5px #53565a, 0px 0px 10px #53565a, 0px 0px 15px #53565a;
  }
  .homslides figcaption p > .btn {
    text-shadow: none;
  }
}
.ccm-page a.btn {
  text-decoration: none;
}
.ccm-page button.btn {
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}
@media screen and (-ms-high-contrast: active) {
  .ccm-page button.btn {
    border: 2px solid currentcolor;
  }
}
.ccm-page a.btn,
.ccm-page button.btn {
  --btn-background: #fedd00;
  --btn-color: #53565a;
  --btn-focus: var(--btn-background);
  --outline-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-background);
  color: var(--btn-color);
  border-radius: 0.75em 0;
  padding: 0.5em 1em;
  border: 2px solid transparent;
  min-width: 10ch;
  text-align: center;
  line-height: 1.1;
  font-weight: bold;
  transition: 220ms all ease;
  position: relative;
}
.ccm-page a.btn:before,
.ccm-page button.btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 50%;
}
.ccm-page a.btn:hover, .ccm-page a.btn:active,
.ccm-page button.btn:hover,
.ccm-page button.btn:active {
  background-color: var(--btn-color);
  color: var(--btn-background);
}
.ccm-page a.btn:hover:before, .ccm-page a.btn:active:before,
.ccm-page button.btn:hover:before,
.ccm-page button.btn:active:before {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.ccm-page a.btn.focus, .ccm-page a.btn:focus,
.ccm-page button.btn.focus,
.ccm-page button.btn:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: inset 0 0 0 3px #fff, 0 0 0 3px var(--btn-focus), 0 1px 1px hsla(0, 0%, 0%, 0.075), 0 2px 2px hsla(0, 0%, 0%, 0.075), 0 4px 4px hsla(0, 0%, 0%, 0.075);
}
.ccm-page a.btn-inverted,
.ccm-page button.btn-inverted {
  --btn-background: #53565a;
  --btn-color: #dcdadb;
}
.ccm-page a.btn--small,
.ccm-page button.btn--small {
  font-size: 80%;
}
.ccm-page a.btn--large,
.ccm-page button.btn--large {
  font-size: 120%;
}
.ccm-page a.btn--block,
.ccm-page button.btn--block {
  width: 100%;
}
.ccm-page a.btn--outlined,
.ccm-page button.btn--outlined {
  --btn-focus: var(--btn-color);
  border-color: var(--btn-color);
}
.ccm-page a.btn--header,
.ccm-page button.btn--header {
  --btn-background: #dcdadb;
  border-radius: 0 0 0.75rem 0.75rem;
}
.ccm-page a.btn--header:hover, .ccm-page a.btn--header:active,
.ccm-page button.btn--header:hover,
.ccm-page button.btn--header:active {
  --btn-color: #dcdadb;
  --btn-background: #222;
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.075), 0 2px 2px hsla(0, 0%, 0%, 0.075), 0 4px 4px hsla(0, 0%, 0%, 0.075);
}
.ccm-page a.btn--header.focus, .ccm-page a.btn--header:focus,
.ccm-page button.btn--header.focus,
.ccm-page button.btn--header:focus {
  --btn-focus: #dcdadb;
}

/* Forms - Primitive CSS https://taniarascia.github.io/primitive/index.html
  =============== */
.ccm-page [type=color], .ccm-page [type=date], .ccm-page [type=datetime], .ccm-page [type=datetime-local], .ccm-page [type=email], .ccm-page [type=month], .ccm-page [type=number], .ccm-page [type=password], .ccm-page [type=search], .ccm-page [type=tel], .ccm-page [type=text], .ccm-page [type=url], .ccm-page [type=week], .ccm-page [type=time], .ccm-page select, .ccm-page textarea,
.ccm-page .form-control {
  display: block;
  border: 2px solid #939395;
  border-radius: 0; /*4px;*/
  padding: 5px; /*.75rem*/
  outline: none;
  background-color: #fff !important;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  /*line-height: 1; */
  font-family: "Open Sans", "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.ccm-page ::-webkit-input-placeholder,
.ccm-page ::-moz-placeholder,
.ccm-page :-ms-input-placeholder,
.ccm-page :-moz-placeholder { /* Firefox 18- */
  font-family: "Open Sans", "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; /*$font-secondary;*/
  font-weight: 400;
}
.ccm-page [type=color]:hover, .ccm-page [type=date]:hover, .ccm-page [type=datetime]:hover, .ccm-page [type=datetime-local]:hover, .ccm-page [type=email]:hover, .ccm-page [type=month]:hover, .ccm-page [type=number]:hover, .ccm-page [type=password]:hover, .ccm-page [type=search]:hover, .ccm-page [type=tel]:hover, .ccm-page [type=text]:hover, .ccm-page [type=url]:hover, .ccm-page [type=week]:hover, .ccm-page [type=time]:hover, .ccm-page select:hover, .ccm-page textarea:hover {
  border: 2px solid #53565a;
}
.ccm-page [type=color]:focus, .ccm-page [type=color]:active, .ccm-page [type=date]:focus, .ccm-page [type=date]:active, .ccm-page [type=datetime]:focus, .ccm-page [type=datetime]:active, .ccm-page [type=datetime-local]:focus, .ccm-page [type=datetime-local]:active, .ccm-page [type=email]:focus, .ccm-page [type=email]:active, .ccm-page [type=month]:focus, .ccm-page [type=month]:active, .ccm-page [type=number]:focus, .ccm-page [type=number]:active, .ccm-page [type=password]:focus, .ccm-page [type=password]:active, .ccm-page [type=search]:focus, .ccm-page [type=search]:active, .ccm-page [type=tel]:focus, .ccm-page [type=tel]:active, .ccm-page [type=text]:focus, .ccm-page [type=text]:active, .ccm-page [type=url]:focus, .ccm-page [type=url]:active, .ccm-page [type=week]:focus, .ccm-page [type=week]:active, .ccm-page [type=time]:focus, .ccm-page [type=time]:active, .ccm-page select:focus, .ccm-page select:active, .ccm-page textarea:focus, .ccm-page textarea:active {
  border: 2px solid #53565a;
  /*  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px $brand-primary;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px $brand-primary; */
}
.ccm-page textarea {
  overflow: auto;
  height: auto;
}
.ccm-page fieldset {
  margin: 0 0 1rem 0;
}
.ccm-page legend {
  padding: 0 0.5rem;
  font-weight: 700;
}
.ccm-page select {
  color: #404040;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==) right center no-repeat;
  line-height: 1;
}
.ccm-page select::-ms-expand {
  display: none;
}
.ccm-page [type=range] {
  width: 100%;
}
.ccm-page label {
  font-weight: 600;
  max-width: 100%;
  margin: 1rem 0 0.5rem;
}
@media screen and (min-width: 30em) {
  .ccm-page .split-form label {
    text-align: right;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
  }
}
.ccm-page input.has-error, .ccm-page input.has-error:hover, .ccm-page input.has-error:focus, .ccm-page input.has-error:active,
.ccm-page select.has-error,
.ccm-page select.has-error:hover,
.ccm-page select.has-error:focus,
.ccm-page select.has-error:active,
.ccm-page textarea.has-error,
.ccm-page textarea.has-error:hover,
.ccm-page textarea.has-error:focus,
.ccm-page textarea.has-error:active {
  border: 1px solid #900;
  /*  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf; */
}
.ccm-page ::-webkit-input-placeholder,
.ccm-page ::-moz-placeholder,
.ccm-page :-moz-placeholder,
.ccm-page :-ms-input-placeholder {
  color: #939395;
}
.ccm-page .search-control {
  font-size: 0;
}
.ccm-page .search-control [type=search] {
  display: inline-block;
  font-size: 16px;
  height: 46px;
  line-height: 16px;
  margin: 0;
  padding: 10px;
  -webkit-appearance: none;
  width: 85%;
  vertical-align: middle;
}
.ccm-page main .search-control {
  margin-bottom: 1rem;
}
.ccm-page .search-control button {
  border: 2px solid #939395;
  border-left: none;
  border-top-left-radius: 0;
  display: inline-block;
  font-size: 16px;
  height: 46px;
  line-height: 16px;
  padding: 0;
  margin: 0;
  text-align: center;
  -webkit-appearance: none;
  width: 15%;
  vertical-align: middle;
}
.ccm-page ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #939395;
  font-family: "Open Sans", "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 3px;
}
.ccm-page ::-moz-placeholder { /* Firefox 19+ */
  color: #939395;
  font-family: "Open Sans", "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 3px;
}
.ccm-page :-ms-input-placeholder { /* IE 10+ */
  color: #939395;
  font-family: "Open Sans", "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 3px;
}
.ccm-page :-moz-placeholder { /* Firefox 18- */
  color: #939395;
  font-family: "Open Sans", "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 3px;
}

.ccm-page form.search-box {
  display: flex;
  flex-wrap: nowrap;
}
.ccm-page form.search-box input[type=search] {
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem;
  margin: 0;
  width: 100%;
  border: 2px solid #53565a;
  border-radius: 0;
}
.ccm-page form.search-box input[type=search]:focus-visible {
  outline: 2px solid #fedd00;
}
.ccm-page form.search-box button.btn {
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem;
  margin: 0;
  min-width: 2rem;
  border-top-left-radius: 0;
  background-color: #53565a;
  color: #fedd00;
}
.ccm-page form.search-box button.btn:hover {
  color: #53565a;
  background-color: #fedd00;
}

.ccm-page .label,
.ccm-page a.label {
  background-color: #53565a;
  color: #FFF;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  display: inline-block;
}
.ccm-page .label.selected,
.ccm-page a.label.selected {
  font-weight: 700;
  background-color: #939395;
}
.ccm-page a.label:hover {
  color: #fedd00;
}
.ccm-page .list-inline .label {
  margin-inline-end: 0.5rem;
  margin-block-end: 0.5rem;
}

#toggle-menu {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding-top: 9px;
  margin-top: 0.5rem;
}

@media screen and (min-width: 45em) {
  #toggle-menu {
    display: none;
  }
}
#toggle-menu span:after,
#toggle-menu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
}

#toggle-menu span:after {
  top: 7px;
}

#toggle-menu span {
  position: relative;
  display: block;
}

#toggle-menu span,
#toggle-menu span:after,
#toggle-menu span:before {
  width: 100%;
  height: 3px;
  background-color: #53565a;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

#toggle-menu:hover span,
#toggle-menu:hover span:after,
#toggle-menu:hover span:before {
  background-color: #939395;
}

/* on activation */
#toggle-menu.on span {
  background-color: transparent;
}

#toggle-menu.on span:before {
  transform: rotate(45deg) translate(5px, 6px);
}

#toggle-menu.on span:after {
  transform: rotate(-45deg) translate(4px, -5px);
}

nav.js-menu #main-nav {
  display: none;
}

@media screen and (min-width: 45em) {
  nav.js-menu #main-nav {
    display: block !important;
  }
}
#main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-nav > li {
  display: block;
}

@media screen and (min-width: 45em) {
  #main-nav {
    font-size: 0;
  }
  #main-nav > li {
    display: inline-block;
    position: relative;
    font-size: 1rem;
  }
}
#main-nav > li a,
#main-nav > li a:link,
#main-nav > li a:visited {
  color: #53565a;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: all 0.3s;
}

#main-nav > li a:hover,
#main-nav > li a:active,
#main-nav > li a:focus,
#main-nav > li.active > a {
  background: #fedd00;
  box-shadow: none;
}

/* Dropdowns */
#main-nav ul {
  background: #fff;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 150;
}

#main-nav li li {
  display: block;
}

#main-nav li li a,
#main-nav li li a:link,
#main-nav li li a:visited {
  border-bottom: 1px dashed #dcdadb;
  color: #939395;
  font-size: 0.8rem;
}

#main-nav li li a:hover,
#main-nav li li a:active,
#main-nav li li a:focus {
  background: #dcdadb;
  color: #53565a;
}

@media screen and (min-width: 30em) {
  #main-nav ul {
    background: #939395;
    border-top: 3px solid #fedd00;
    position: absolute;
    width: 250px;
  }
  #main-nav li li a,
  #main-nav li li a:link,
  #main-nav li li a:visited {
    color: #fff;
  }
  #main-nav li li a:hover,
  #main-nav li li a:active,
  #main-nav li li a:focus {
    background: #53565a;
    color: #fedd00;
  }
}
.ccm-page ul.subnav {
  list-style: none;
  margin-inline: 0;
  padding: 0;
}
.ccm-page ul.subnav > li {
  padding: 0;
  margin-bottom: 3px;
}
.ccm-page ul.subnav > li > span,
.ccm-page ul.subnav > li > a {
  display: block;
  padding: 0.5rem;
}
.ccm-page ul.subnav > li > span {
  background-color: #53565a;
  color: #FFF;
  font-weight: 700;
}
.ccm-page ul.subnav > li > a {
  background-color: #dcdadb;
  color: #53565a;
  transition: background-color 0.3s;
}
.ccm-page ul.subnav > li > a:hover {
  background-color: #FFF;
  box-shadow: none;
}
.ccm-page ul.subnav ul {
  display: none;
  list-style: none;
  margin-inline: 0;
  padding: 0;
}
.ccm-page ul.subnav li.show ul {
  display: block;
}
.ccm-page ul.subnav ul li + li {
  border-top: 1px dashed #939395;
}
.ccm-page ul.subnav ul > li > a {
  color: #53565a;
  display: block;
  font-weight: normal;
  font-size: 80%;
  padding: 0.5rem;
}
.ccm-page ul.subnav ul > li > a.selected {
  font-weight: 700;
}
.ccm-page ul.subnav ul > li > a:hover {
  color: #939395;
  background-color: #fff;
  box-shadow: none;
}
.ccm-page ul.subnav ul > li:not(:last-child) > a {
  border-bottom: 1px dashed #939395;
}

.ccm-page ul.list-group,
.ccm-page ul.list-group ul {
  list-style: none;
  padding-inline: 0;
  margin-inline: 0;
}
.ccm-page .list-group {
  border-top: dashed 1px #dcdadb;
}
.ccm-page .list-group > li {
  border-bottom: dashed 1px #dcdadb;
}
.ccm-page .list-group .list-group,
.ccm-page .list-group ul {
  font-size: 90%;
}
.ccm-page .list-header > a,
.ccm-page .list-header span {
  background: #939395;
  color: #FFF;
  transition: all 0.3s;
  font-weight: 700;
}
.ccm-page .list-header:hover > a {
  background: #53565a;
  color: #fedd00;
}
.ccm-page .list-group.list-toggle,
.ccm-page .list-group.list-toggle > li {
  border: none;
}
.ccm-page .list-group.list-toggle li.list-header {
  border-bottom: solid 3px #fff;
}
.ccm-page .list-group.list-toggle a {
  display: block;
  padding: 0.3rem 0.5rem;
}
.ccm-page .list-group.list-toggle a:hover {
  box-shadow: none;
}
.ccm-page .list-group.list-toggle ul li {
  border-bottom: dashed 1px #939395;
}

.ccm-page iframe {
  border: 0;
}

.layout-flex > .login {
  order: 1;
  flex-grow: 0;
  flex-basis: auto;
  min-width: auto;
}

.layout-flex > .secondary {
  text-align: center;
  align-self: center;
}

@media screen and (min-width: 45em) {
  .layout-flex > .secondary {
    text-align: right;
  }
}
.logo > span {
  display: inline-block;
  vertical-align: middle;
}

a.header-logo {
  display: inline-block;
  width: 80px;
  vertical-align: middle;
}

.header-logo.play svg {
  pointer-events: none;
}

.header-logo.play svg rect#wipe {
  animation: slidein 3s ease forwards 1;
}

@keyframes slidein {
  from {
    transform: translatex(0);
  }
  50% {
    transform: translatex(100%);
  }
  51% {
    transform: translatex(-100%);
  }
  to {
    transform: translatex(0);
  }
}
.layout-flex > .tel,
.layout-flex > .email,
.layout-flex > .search {
  flex-grow: 0;
  flex-basis: auto;
  min-width: auto;
}
.layout-flex > .tel svg,
.layout-flex > .email svg,
.layout-flex > .search svg {
  height: 1.3em;
  width: 1.3em;
  vertical-align: middle;
  transition: all 0.5s;
  display: inline-block;
}

.layout-flex > .tel span,
.layout-flex > .email span {
  display: none;
}

@media screen and (min-width: 45em) {
  .layout-flex > .tel span,
  .layout-flex > .email span {
    display: inline-block;
  }
}
.layout-flex > .search a {
  display: block;
  padding: 4px;
}

nav.layout-flex {
  border-bottom: solid 5px #fff;
}

footer .layout-flex.justify-around:first-child > div {
  flex-grow: 0;
  flex-basis: auto;
}
footer .layout-flex.justify-around:first-child > div > .list-inline > li + li {
  border-left: 2px solid #fedd00;
}
footer .layout-flex.justify-around:first-child > div > .list-inline a {
  color: #939395;
  padding-inline: 1rem;
}
footer .layout-flex.highlight > * {
  flex: 1 0 100%;
  text-align: center;
}
@media screen and (min-width: 45em) {
  footer .layout-flex.highlight > * {
    flex: 1 1 0;
    text-align: left;
  }
  footer .layout-flex > .logo {
    flex-grow: 0;
    flex-basis: auto;
    min-width: auto;
  }
  footer .layout-flex > .contact {
    flex-grow: 2;
  }
  footer .layout-flex > .social {
    text-align: right;
  }
}

.layout-flex > .content {
  flex-grow: 2.5;
  min-width: 400px;
}

.layout-flex.product {
  --gap: 2rem;
  flex-wrap: nowrap;
}
.layout-flex.product > * {
  display: block;
  flex: 1 1 auto;
  align-self: auto;
  order: 0;
}
.layout-flex.product > .product-menu {
  display: block;
  flex: 0 0 60px;
  min-width: 60px;
  order: 1;
  text-align: right;
}

.sticky-nav {
  position: sticky;
  top: 100px;
}

.ccm-page ul.sticky-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.ccm-page ul.sticky-nav li {
  position: relative;
  height: 2.5rem;
}
.ccm-page ul.sticky-nav li a.reveal {
  position: absolute;
  inset: 0 0 0 auto;
  color: #333;
  display: inline-block;
  vertical-align: middle;
  background-color: #dcdadb;
  padding: 0.5rem;
  margin-bottom: 1px;
  white-space: nowrap;
}
.ccm-page ul.sticky-nav li a.reveal i {
  min-width: 30px;
  vertical-align: middle;
}
.ccm-page ul.sticky-nav li a.reveal span {
  display: inline-block;
  max-width: 0;
  transition: all 0.5s ease;
  overflow: hidden;
  vertical-align: middle;
  padding-left: 0.5rem;
}
.ccm-page ul.sticky-nav li a.reveal:hover {
  background-color: #fedd00;
}
.ccm-page ul.sticky-nav li a.reveal:hover span {
  max-width: 100vw;
}

.bg-primary {
  background-color: #fedd00;
}

.bg-tint {
  background-color: #dcdadb;
}

.bg-gray {
  background-color: #939395;
}

.bg-dark,
.bg-secondary {
  background-color: #53565a;
  color: #fff;
}

.clr-primary {
  color: #fedd00;
}

.clr-secondary {
  color: #53565a;
}

.clr-tint {
  color: #dcdadb;
}

.clr-gray {
  color: #939395;
}

.wrapper {
  padding-inline: max(1rem, 50vw - 600px);
}

.padded {
  padding-block: var(--padded, 2rem);
}

.divider,
.border {
  border-top: 1px dashed #dcdadb;
  padding-block: var(--padded, 2rem);
}

.narrow {
  width: 90%;
  max-width: 500px;
  margin-inline: auto;
}

.flow > * + *,
.ccm-block-edit > * + *,
.cke-editable {
  margin-top: var(--flow-spacer, 1em);
}

.fs-900 {
  font-size: 3.75rem;
}

.fs-800 {
  font-size: 3rem;
}

.fs-600 {
  font-size: 1.5rem;
}

.fs-500 {
  font-size: 1.3125rem;
}

.fs-400 {
  font-size: 1.125rem;
}

.fs-300 {
  font-size: 1rem;
}

.layout-flex {
  --gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}
.layout-flex.flex-middle {
  align-items: center;
}
.layout-flex.flex-bottom {
  align-items: flex-end;
}
.layout-flex > * {
  flex: 1 1 0;
  min-width: 250px;
}
.layout-flex.flex-smaller > * {
  min-width: 70px;
}
.layout-flex.flex-start {
  justify-content: flex-start;
}
.layout-flex.flex-start > * {
  flex: 0 1 auto;
  min-width: 100px;
}
.layout-flex > .flex-full {
  flex-basis: 100%;
}
.layout-flex.justify-end {
  justify-content: flex-end;
}
.layout-flex.justify-around {
  justify-content: space-around;
}
.layout-flex.justify-around > * {
  flex-basis: auto;
  flex-grow: 0;
  min-width: auto;
}
.layout-flex.align-center {
  align-items: center;
}

/*

.layout-flex {
	--gap: 2rem;
	--wrap: wrap;
	display: flex;
	flex-wrap: var(--wrap);
	gap: var(--gap);

	&.flex-between {
	  justify-content: space-between;
	  & > * {
		flex: 0 0 max-content;
		//flex-basis: max-content;
	  }
	}
	&.flex-start {
	  justify-content: flex-start;
	  & > * {
		flex: 0 0 max-content;
	  }
	}
	&.flex-end {
	  justify-content: flex-end;
	  & > * {
		flex: 0 0 max-content;
	  }
	}
	&.flex-middle {
	  align-items: center;
	}
	&.flex-bottom {
	  align-items: flex-end;
	}
	> .flex-full {
	  flex-basis: 100%;
	}
  }

  @media (max-width: 35em) {
	.layout-flex {
	  &.flex-between {
		justify-content: space-around;
	  }
	  & > * {
		text-align: center;
	  }
	}
  }

  .layout-flex > * {
	flex: 1 1 0;
	min-width: 250px;
  }
  .layout-flex > .content {
	flex-grow: 2.5;
	min-width: 400px;
  }
  .layout-flex > .flex-full {
	flex-basis: 100%;
  }

  */
.layout-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-gap: 2rem;
}
.layout-grid > .grid-full {
  grid-column: 1/-1;
}

.layout-grid.grid25 {
  grid-template-columns: repeat(auto-fit, minmax(14em, 30%));
}

.list-plain,
.list-inline {
  margin-inline: 0;
  padding-inline: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
}
.list-inline.secondary-nav a {
  display: block;
  font-size: 0.9em;
  padding-inline: 0.5rem;
}
.list-inline.secondary-nav > li + li {
  border-left: 2px solid #939395;
}

.margin-sm {
  margin: 0.5rem;
}
.margin-block-sm {
  margin-block: 0.5rem;
}
.margin-inline-sm {
  margin-inline: 0.5rem;
}

.padding-sm {
  padding: 0.5rem;
}
.padding-block-sm {
  padding-block: 0.5rem;
}
.padding-inline-sm {
  padding-inline: 0.5rem;
}

.margin-md {
  margin: 1rem;
}
.margin-block-md {
  margin-block: 1rem;
}
.margin-inline-md {
  margin-inline: 1rem;
}

.padding-md {
  padding: 1rem;
}
.padding-block-md {
  padding-block: 1rem;
}
.padding-inline-md {
  padding-inline: 1rem;
}

.margin-lg {
  margin: 2rem;
}
.margin-block-lg {
  margin-block: 2rem;
}
.margin-inline-lg {
  margin-inline: 2rem;
}

.padding-lg {
  padding: 2rem;
}
.padding-block-lg {
  padding-block: 2rem;
}
.padding-inline-lg {
  padding-inline: 2rem;
}

.ccm-page {
  /* Consider removing this next declaration block, as it causes problems when
  there's a rowspan on the first cell. Case added to the tests. issue#432 */
}
.ccm-page table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #939395;
  margin: 0;
}
.ccm-page table caption {
  color: #939395;
  font-style: italic;
  padding: 0.5rem 0;
  text-align: center;
}
.ccm-page table tr {
  border-bottom: 1px solid #939395;
}
.ccm-page table tr:last-child {
  border-bottom-width: 0;
}
.ccm-page tr:nth-child(even) {
  background: #dcdadb;
}
.ccm-page table td,
.ccm-page table th {
  border-left: 1px solid #939395; /*  inner column border */
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible; /*to make ths where the title is really long work*/
  padding: 0.25rem; /* cell padding */
  text-align: left;
}
.ccm-page th {
  font-weight: 700;
  color: #fff;
  background-color: #53565a;
}
.ccm-page table td:first-child,
.ccm-page table th:first-child {
  border-left-width: 0;
}
.ccm-page thead {
  background-color: #53565a;
  color: #fff;
  text-align: left;
  vertical-align: bottom;
}
.ccm-page .table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.ccm-page .table-responsive > table {
  min-width: 100%;
}

.ccm-page img.ccm-generic-thumbnail {
  width: 40px;
  height: auto;
}

.visually-hidden,
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/*# sourceMappingURL=styles.css.map */
